body{
  background:black;
}
.button1{
  border-color:red;
  background-color:#750000;
  border-radius:20px;
  height:60px;
  width:130px;
  color:silver;
}
.button2{
  border-color:red;
  background-color:#750000;
  border-radius:20px;
  height:60px;
  width:130px;
  color:silver;
}
h1{
  color:white;
  background:red;
  background-size:12;
  border-radius:8px;
}
input{
  color:red;
  background-color:blue;
}
