body {
  background: black;
}
<<<<<<< HEAD
h1{
  color:#00108ac1;
=======
h1 {
  color: white;
>>>>>>> master
}
h2 {
  color: red;
}
p {
  color: white;
}
button {
  background: #228ca6;
  height: 55px;
  width: 60px;
  color: blue;
  border-color:red;
}